# SPDX-FileCopyrightText: 2024 KindSpells Labs S.L.
#
# SPDX-License-Identifier: MIT

name: "Publish Package to NPMJS"

on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        deno-version: [ "2.2.0" ]
        node-version: [ 22 ]
        os: [ "ubuntu-latest" ]
        pnpm: [ "10.4.1" ]

    runs-on: "${{ matrix.os }}"

    permissions:
      contents: "read"
      id-token: "write"

    steps:
    - name: "Checkout repository" # v4.2.2
      uses: "actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683"
    - name: "Install PNPM" # v4.1.0
      uses: "pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda"
      with:
        version: "${{ matrix.pnpm }}"
    - name: "Use Node.js ${{ matrix.node-version }}" # v4.2.0
      uses: "actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a"
      with:
        node-version: "${{ matrix.node-version }}"
        cache: "pnpm"
        registry-url: "https://registry.npmjs.org"
    - name: "Use Deno ${{ matrix.deno-version }}" # v2.0.2
      uses: "denoland/setup-deno@909cc5acb0fdd60627fb858598759246509fa755"
      with:
        deno-version: "${{ matrix.deno-version }}"
    - name: "Install dependencies"
      run: "pnpm install --recursive --frozen-lockfile"
    - name: "Login into NPMJS"
      run: |
        pnpm config set "//registry.npmjs.org/:_authToken" "${NODE_AUTH_TOKEN}";
        echo "provenance=true" >> .npmrc
        echo "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}" >> .npmrc
      env:
        NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
    - name: "Publish to NPM registry"
      run: "pnpm turbo publish:safe --env-mode=loose"
      working-directory: "."
      env:
        NPM_CONFIG_PROVENANCE: "true"
        NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
    # TODO: Create a release for each published package
