# SPDX-FileCopyrightText: 2024 KindSpells Labs S.L.
#
# SPDX-License-Identifier: MIT

name: "Publish Package to NPMJS"

on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        node-version: [ 22 ]
        os: [ "ubuntu-latest" ]
        pnpm: [ "9.7.0" ]

    runs-on: "${{ matrix.os }}"

    permissions:
      contents: "read"
      id-token: "write"

    steps:
    - name: "Checkout repository" # v4.1.1
      uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11"
    - name: "Install PNPM" # v3.0.0
      uses: "pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d"
      with:
        version: "${{ matrix.pnpm }}"
    - name: "Use Node.js ${{ matrix.node-version }}" # v4.0.2
      uses: "actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8"
      with:
          node-version: "${{ matrix.node-version }}"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
    - name: "Install dependencies"
      run: "pnpm install --recursive --frozen-lockfile"
    - name: "Publish to NPM registry"
      run: "pnpm turbo publish:safe"
      working-directory: "."
      env:
        NPM_CONFIG_PROVENANCE: "true"
        NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
    # TODO: Create a release for each published package
